{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Dublin Calendar</title>
    <link rel="stylesheet" href="{% static 'profiles/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'profiles/assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/ssets/fonts/fontawesome5-overrides.min.css' %}a">
    <link rel="stylesheet" href="{% static 'profiles/assets/css/untitled.css' %}">
</head>



<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form
                            class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text"
                                    placeholder="Search for ...">
                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i
                                            class="fas fa-search"></i></button></div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link"
                                    data-toggle="dropdown" aria-expanded="false" href="#"><i
                                        class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in"
                                    aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small"
                                                type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0"
                                                    type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        data-toggle="dropdown" aria-expanded="false" href="#"><span
                                            class="badge badge-danger badge-counter">3+</span><i
                                            class="fas fa-bell fa-fw"></i></a>
                                    <div
                                        class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a
                                            class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-primary icon-circle"><i
                                                        class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>A new monthly report is ready to download!</p>
                                            </div>
                                        </a><a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-success icon-circle"><i
                                                        class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>$290.29 has been deposited into your account!</p>
                                            </div>
                                        </a><a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-warning icon-circle"><i
                                                        class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2019</span>
                                                <p>Spending Alert: We've noticed unusually high spending for your
                                                    account.</p>
                                            </div>
                                        </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All
                                            Alerts</a>
                                    </div>
                                </div>
                            </li>

                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">


                                <div class="nav-item ">

                                <a class="nav-link"  href="{% url 'logout' %}">
                                        
                                        <span
                                            class="d-none d-lg-inline mr-2 text-gray-600 small">{{ request.user }}
                                        </span>

                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> &nbsp;Logout
                                </a>

                                </div>



                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Calendar</h3>


                        <a class="btn btn-primary btn-icon-split" role="button"><span class="text-white-50 icon"><i
                                    class="fas fa-share-alt"></i></span><span class="text-white text">Share
                                Calendar</span></a>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="card shadow">
                                <div class="card-header py-3">
                                    <p class="text-primary m-0 font-weight-bold">Events Planned</p>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive table mt-lg-auto" id="dataTable-1" role="grid"
                                        aria-describedby="dataTable_info">
                                        <table class="table my-0" id="dataTable">

                                            <thead>
                                                <tr>

                                                    <th>Event</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>


                                            <!-- This is where we insert the loop -->
{% for x in events %}

<tr>
    <td>
        <div class="col mr-2">
            <h6 class="mb-0" style="margin-top: 2px;"><strong> {{ x.event }}</strong></h6>
            <h6 class="mb-0" style="font-size: 11px;height: 12px;margin-top: 6px;">
                <strong>{{ x.start_date|date:"d F Y" }} - {{ x.end_date|date:"d F Y" }}</strong>
            </h6><span class="text-xs">{{ x.start_date|date:"G:i A" }} - {{ x.end_date|date:"G:i A" }}</span>
        </div>
    </td>
    <td>
        <div class="col mr-2">
            <p
                style="min-width: 21px;font-size: 14px;text-align: left;min-height: 10px;max-width: 210px;margin-right: 0px;margin-left: 0px;padding: 0px;padding-left: 0px;">
                {{ x.description }}
            </p>
        </div>
    </td>
</tr>

{% endfor %}
                                            <!-- End loop here -->


                                            </tbody>
                                            <tfoot>
                                                <tr></tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Dublin Calendar 2020</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <div class="card shadow"></div>
    <script src="{% static 'profiles/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'profiles/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{% static 'profiles/assets/js/theme.js' %}"></script>
</body>

</html>






{% comment %} 
This is the for loop template


{% for x in events %}
<h1>x</h1>

<tr>
    <td>
        <div class="col mr-2">
            <h6 class="mb-0" style="margin-top: 2px;"><strong> {{ x.event }}</strong></h6>
            <h6 class="mb-0" style="font-size: 11px;height: 12px;margin-top: 6px;">
                <strong>{{ x.start_date|date:"d F Y" }} - {{ x.end_date|date:"d F Y" }}</strong>
            </h6><span class="text-xs">{{ x.start_date|date:"G:i A" }} - {{ x.end_date|date:"G:i A" }}</span>
        </div>
    </td>
    <td>
        <div class="col mr-2">
            <p
                style="min-width: 21px;font-size: 14px;text-align: left;min-height: 10px;max-width: 210px;margin-right: 0px;margin-left: 0px;padding: 0px;padding-left: 0px;">
                {{ x.description }}
            </p>
        </div>
    </td>
</tr>

{% endfor %} {% endcomment %}